.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #1a1a1a;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  text-align: center;
}

.card-name {
  padding: 0;
  margin: 0;
}

.card-img {
  height: 200px;
  object-fit: fill;
}

.lost {
  background-color: #6c3030;
}